<section class="ajax-cart is-open" data-cart-view="data-cart-view">
 <!-- {% render 'image', image: section.settings.img %}
 {% render 'icons', icon: 'close' %} -->
</section>
{% schema %}
{   
    "name": "dima",
    "settings": [
        {
            "type": "image_picker",
            "id": "img",
            "label": "label"
        }
    ]
}
{% endschema %}